include LICENSE
include README.md
recursive-include pyedra *.csv
recursive-include pyedra *.csv.bz2

exclude tox.ini
exclude pyproject.toml
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *
