include LICENSE
include README.md

recursive-include pyedra *.csv
recursive-exclude tests *.py

recursive-exclude docs *

recursive-exclude docs/source/_static emptyfile
recursive-exclude docs/source/_templates emptyfile

exclude tox.ini
exclude pyproject.toml
